#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 700%;
    margin-top: 100px;
    animation: 25s slider infinite;
}
#slider figure img{
    
    width: 15%;
    height: 1000px;
    float: left;

}
.slide{
    width: 1000px;
    margin-left: 1000px;

}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
     25%{
        left: -100%;
     }
     45%{
        left: -100%;
     }
     50%{
        left: -200%;
     }
     70%{
        left: -200%;
     }
     75%{
        left: -300%;
     }
     95%{
        left: -300%;
     }
     100%{
        left: -400%;
     }
       
}